$color-verde: rgb(0, 247, 255);
$color-negro:  rgba(0, 0, 0, 0.74);
$color-blanco: rgb(250, 246, 246);
$color-gris: rgb(226, 226, 226);
$color-verde-oscuro: rgb(4, 143, 148);
$bg-table: rgba(255, 255, 255, 0.8);

