/*Footer*/
footer{
   
    
    .content-footer{
        bottom: 0;
        position: fixed;
        overflow-x: hidden;
        left: 0;
        width: 80px;
        height: auto;
        background: #1e1e1e63;
     
        
        a{
            display: block;
            color: white;
            height: 55px;
            width: auto;
            border-bottom: 1px, solid rgba(255, 255, 255, .1);
            border-top: 1px solid black;
            text-decoration: none;
  
  
              i{
                  font-size: 25px;
                  margin-right: 10px;
              }
           
          }  
  
          a:hover, a.active{
            border-left: 5px solid $color-verde;
            color: $color-verde;

          } 
        
      }
    
}