@import "mixin/media-screen";


.container-fluid{
  width: 100%;
  margin: 0;

.main{    
    position: relative;
    padding: 10px;
    margin-top: 100px;
    color: $color-blanco; 
    text-align: left;
    
    
    @include tablet{
      margin-top: 10px;
    }

    .works{
        height: auto;
    }


    /*Titulos*/
   
      .title{  
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: 3em;
        color: $color-verde;
        letter-spacing: 0;
        line-height: 70px;
      
      }

      
  
      a{
        text-decoration: none;
        color: $color-verde;
      }

                                                /**********BEM**********/
      .main__h2{
        
        .main__h2--color{
          
          color: rgb(61, 15, 15);    
        }

      }
      

      



     

    
      /***Grid-works***/


    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 0;
        background-color: #71a9f348;
        padding: 0;

        div {
            background-color: $bg-table;
            text-align: center;
            padding: 20px 0;
            font-size: 30px;
            height: 20vh;

            .item1 { 
                grid-area: 1 / 3 / 2 / 4; 
              background-image: url("../../img/site1.png");
              background-size: cover;
              }
            .item2 { 
                grid-area: 2 / 3 / 3 / 4;
                background-image: url("../../img/site2.png");
                background-size: cover;
              }
            .item3 { 
                grid-area: 1 / 1 / 2 / 2; 
                background-image: url("../../img/site3.png");
                background-size: cover;
              }
            .item4 { 
                grid-area: 1 / 2 / 2 / 3; 
                background-image: url("../../img/sites4.png");
                background-size: cover;
              }
            .item5 {
                 grid-area: 2 / 1 / 3 / 2;
                 background-image: url("../../img/sites5.png");
                 background-size: cover;
               }
            .item6 { 
                grid-area: 2 / 2 / 3 / 3; 
                background-image: url("../../img/sites6.png");
                background-size: cover;
              }
          
              .item7 { 
                  grid-area: 3 / 1 / 4 / 2; 
                background-image: url("../../img/site1.png");
                background-size: cover;
                }
              .item8 { 
                  grid-area: 3 / 2 / 4 / 3;
                  background-image: url("../../img/site2.png");
                  background-size: cover;
                }
              .item9 { 
                  grid-area: 3 / 3 / 4 / 4; 
                  background-image: url("../../img/site3.png");
                  background-size: cover;
                }
          
          }

          

      }
                                                 /**********BEM**********/             

      

}

}
